absl-py
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
attrs
audioread
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
clean-text
click
cmake
comm
contourpy
cycler
debugpy
decorator
defusedxml
depixelate
emoji
exceptiongroup
executing
fastjsonschema
filelock
flatbuffers
fonttools
fqdn
ftfy
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
inexactsearch
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jax
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Applications
Keras-Preprocessing
keras-vggface
kiwisolver
lazy_loader
libclang
librosa
lit
llvmlite
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
ml-dtypes
mpmath
msgpack
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
pluggy
pooch
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyrsistent
pytest
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rsa
scikit-learn
scipy
seaborn
Send2Trash
silpa-common
six
sniffio
soundex
soundfile
soupsieve
soxr
spellchecker
stack-data
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
thop
threadpoolctl
tinycss2
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
triton
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt